
.friendsPost{
    width: 250px;
    height: 95%;
}

.friends_posts{
    width: 600px;
    height: 160px;
    padding: 10px 20px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
 }
 
 .swiper{
    width: 100%;
    height: 100% !important;
}

.slide{
    width: 100px !important;
    height: 100% !important;
    border: 2px solid rgb(0, 224, 206);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1300px) {

    .friends_posts{
      margin-top: 70px;
     }
    
}

@media screen and (max-width: 1200px) {

    .friends_posts{
      margin-top: 70px;
     }
    
}


@media screen and (max-width: 930px) {

    .friends_posts{
        width: 550px;
        height: 160px;
        padding: 10px 20px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }
    
}


@media screen and (max-width: 875px) {

    .friends_posts{
        width: 500px;
        height: 160px;
        padding: 10px 20px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }
    
}


@media screen and (max-width: 830px) {

    .friends_posts{
        width: 490px;
        height: 150px;
        padding: 10px 20px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 240px;
        height: 95%;
    }
    
}


@media screen and (max-width: 800px) {

    .friends_posts{
        width: 470px;
        height: 150px;
        padding: 10px 20px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 230px;
        height: 95%;
    }
    
}

@media screen and (max-width: 768px){
    .friends_posts{
        width: 100vw !important;
        height: 160px;
        padding: 10px 50px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 230px;
        height: 95%;
    }
}

@media screen and (max-width: 550px){
    .friends_posts{
        width: 100vw !important;
        height: 120px;
        padding: 10px 7px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 110px;
        height: 100%;
    }

    .slide{
        width: 95px !important;
    }

  

}


@media screen and (max-width: 400px){
    .slide{
        width: 90px !important;
    }
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .friends_posts{
        width: 100vw !important;
        height: 110px !important;
        padding: 10px 7px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 70px !important;
        height: 100%;
    }
}


@media screen and (max-width: 370px){
    .slide{
        width: 80px !important;
    }
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .friends_posts{
        width: 100vw !important;
        height: 105px !important;
        padding: 10px 7px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 70px !important;
        height: 100%;
    }
}


@media screen and (max-width: 350px){
    .slide{
        width: 75px !important;
    }
    .slide img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .friends_posts{
        width: 100vw !important;
        height: 100px !important;
        padding: 10px 7px;
        background-color: white;
        overflow: hidden;
        cursor: pointer;
     }

     .friendsPost{
        width: 60px !important;
        height: 100%;
    }
}